{% extends 'base.html' %}

{% block title %}Services Provided{% endblock %}

{% block content %}
<style>
    h1 {
        font-size: 38px; /* Larger font size for the heading */
        color: #333; /* Dark text color */
        font-family: Times New Roman,Serif;
    }



</style>
<h1>From Aspiring Accountant to Chartered Accountant</h1><br><br>

<p><b>Turning Dreams into Reality</b><br>
<b>BY:Rohan Patel</b><br>
January 20, 2024
<br><br>
<div>
    <p>I’m Rohan Patel, a proud Chartered Accountant, and here’s how HR ASSOCIATES played a significant role in my journey.</p>

    <p>After completing my graduation in 2018, I started preparing for the CA exams. Despite my best efforts, I faced several setbacks and failed the CA Intermediate exams twice. Feeling disheartened, I was almost ready to give up until I came across HR ASSOCIATES's website.</p>

    <p>The wealth of resources available on the website was impressive. The concise study notes and interactive video tutorials helped me understand complex topics more clearly. The forums and discussion groups allowed me to connect with other CA aspirants, share knowledge, and gain different perspectives.</p>

    <p>What stood out the most was the personalized coaching offered by HR ASSOCIATES. The one-on-one sessions with experienced Chartered Accountants were invaluable. They helped me identify my weaknesses, develop a targeted study plan, and stay motivated throughout my preparation.</p>

    <p>In addition to academic support,HR ASSOCIATES also provided career guidance. Their webinars on interview preparation, resume building, and networking were incredibly beneficial. By the time I cleared my CA exams in 2023, I felt well-prepared not just academically but also professionally.</p>

    <p>Today, as a practicing Chartered Accountant, I am deeply grateful to HR ASSOCIATES for their comprehensive support. They transformed my dream of becoming a CA into reality, and I highly recommend their services to all aspiring CAs.</p>

    <p>Thank you, HR ASSOCIATES, for your unwavering support and dedication to student success.</p>
</div>   
{%endblock%}